.page {
    margin: 0px;
    color: var(--primary-text-color);
    font-family: 'Inter', 'Mulish', sans-serif;
}

:root {
    --gray-backround: #F2F2F2; 
    --dark-blue: #1C2752;
    --yellow-accent: #FFB342;
    --primary-text-color: #7E7E7E; 
    --gray-text: #F4F4F4;
    --white: #ffffff;
    --grayish-text: #d2d2d2;

    --animation-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* general styles */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    margin: 0;
}

 /* header styles */
.header-wrapper {
    background-color: var(--gray-backround);
}

.upper-header {
    display: flex;
    align-items: center;
}

.header-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 21px;
    padding-bottom: 21px;

    
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.36px;

    color: var(--dark-blue); 
}

/* header social media */
.social-list {
display: flex;
margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 20px;
}

/* header second section */
.logo {
 color: var(--dark-blue);   
 display: flex;
 align-items: center;
 padding-bottom: 30px;
 padding-top: 30px;
 font-size: 25px;
 font-weight: bold;
}

.icon-position {
    margin-right: 13px;
}

.text-accent {
    color: var(--yellow-accent);
}

.logo-position {
    display: flex;
    align-items: center;
}

.contact-logo {
    display: flex;
    margin-left: auto;
}

.logo-item {
    display: flex;
    align-items: center;
}

.logo-item:not(:last-child) {
    margin-right: 65px;
}

.contact-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 58px;
    height: 58px;
    margin-right: 15px;
    padding: 10px 10px;
    background-color: var(--yellow-accent);
    border-radius: 50%;
}

.contact-text {
    color: var(--dark-blue);

    font-family: "Mulish";
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.36px;
}

.contact-link {
    display: inline-flex;
    color: var(--primary-text-color);

    font-family: 'Inter';
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.36px;

    transition: transform var(--animation-duration) var(--timing-function);
}

.contact-link:hover {
    transform: scale(1.1)
}

/* navigation */
.nav {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;

    background-color: var(--yellow-accent);
}

.nav-list {
    display: flex;
}

.nav-button {
    margin-left: auto;

    padding: 19px 42px;

    color: var(--gray-text);
    background-color: var(--dark-blue);

    border: none;
    cursor: pointer;
}

.nav-item:not(:last-child) {
    margin-right: 49px;
}

.nav-link {
    position: relative;
    display: inline-flex;
    color: var(--dark-blue);
    padding-top: 29px;
    padding-bottom: 29px;
    display: inline-flex;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    transition: color var(--animation-duration) var(--timing-function);
}

.nav-link::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;

    background-color: var(--gray-text);

    opacity: 0;
    transform: scaleX(0);
    transition: transform var(--animation-duration) var(--timing-function);
}

.nav-link:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.nav-link:hover, .nav-link:focus {
    color: var(--gray-text);
}

/* hero */
.hero {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 270px;
    padding-bottom: 230px;
    padding-left: 120px;
    
    max-width: 1440px;
    min-height: 813px;

    background-color: var(--dark-blue);
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero-icon {
    margin-left: 20px;
    margin-right: 10px;
}

.hero-text {
    width: 662px;
    display: flex;
    align-items: center;
    margin-bottom: 21px;

    font-size: 18px;
    line-height: 18px;
    color: var(--white);
    letter-spacing: 0.36px;
    text-transform: capitalize;

    background-color:  rgba(255, 255, 255, 0.2);
}

.hero-title {
    max-width: 712px;
    margin-bottom: 29px;

    font-family: "Mulish";
    font-size: 60px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-transform: capitalize;

    color: var(--white);
}

.hero-button {
    padding: 19px 42px;

    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    color: var(--dark-blue);
    background-color: var(--yellow-accent);
    border: none;


    cursor: pointer;
}

.nav-position {
    position: relative;
}

/* section what we provise */
.provide-section {
    padding: 140px 25px;

    display: flex;
    align-items: center;
}

.provide-item {
    min-width: 535px;
}

.provide-item:not(:last-child) {
    margin-right: 25px;
}

.provide-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 22px;

    display: inline-flex;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    color: var(--dark-blue);
    background-color: var(--gray-text);
}

.provide-icon {
    margin-right: 10px;
}

.provide-title {
    margin-bottom: 12px;

    font-family: "Mulish";
    font-weight: 400;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 0.36px;

    color: var(--dark-blue);
}

.provide-info {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.provide-years {
    display: flex;
    align-items: center;
}

.box {
    width: 198px;
    height: 200px;

    margin-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--gray-text);
}

.provide-number {
    margin-bottom: 16px;

    font-size: 80px;
    line-height: 1.1;
    font-weight: normal;
    letter-spacing: 0.36px;

    color: var(--yellow-accent);
}

.provide-experience {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.36px;
    text-align: center;

    color: var(--dark-blue);
}

.item-experience {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.36px;
}

.item-experience:not(:last-child){
    margin-bottom: 10px;
}

.item-experience::before {
    content: '-';
    margin-right: 10px;
}

/* what we offer */
.community-position {
    position: relative;
}

.what-we-offer {
    padding-top: 140px;
    padding-left: 304px;
    padding-right: 304px;
    min-height: 900px;
    text-align: center;
    background-color: var(--yellow-accent);
}

.offer-text {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 22px;

    display: inline-flex;
    align-items: center;
    background-color: var(--white);
    color: var(--dark-blue);

    
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

.offer-icon {
    margin-right: 10px;
}

.offer-title {
    margin-bottom: 12px;

    font-family: 'Mulish';
    font-weight: normal;
    font-size: 45px;
    line-height: 1.3;
    letter-spacing: 0.36px;

    color: var(--dark-blue);
}

.what-we-offer-text {
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
    color: var(--dark-blue);
}

.offer-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-item {
    display: flex;
    align-items: center;

    padding: 16px 41px;
    border: 1px solid var(--dark-blue);

    transition: background-color var(--animation-duration) var(--timing-function);
}

.offer-item:hover, .offer-item:focus {
    background-color: var(--white);
    border: 1px solid var(--white);
}

.offer-item:not(:last-child) {
    margin-right: 30px;
}

.icon-home {
    margin-right: 10px;
}

.text-home {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    color: var(--dark-blue);
}

/* community */
.community-section {
    position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%);
    padding: 60px;
    background-color: var(--white);
}

.comminity-list {
    display: flex;
    align-items: center;
    max-width: 1160px;
}

.accent {
    background-color: var(--gray-backround);
}

.icon-community {
    margin-right: 10px;
    fill: var(--yellow-accent);
}

.community-item {
    max-width: 564px;
    margin-right: 60px;
}

.community-info {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.community-add {
    margin-bottom: 30px;
}

/* our services */
.section-services {
    padding-top: 240px;
    padding-bottom: 140px;
    padding-left: 120px;
    padding-right: 120px;

    text-align: center;

    background-color: var(--gray-backround);
}

.icon-service {
    margin-right: 10px;
}

.service-text {
    max-width: 819px;
    margin-bottom: 47px;
  
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.services-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 380px 380px 380px;
}

.services-item {
    padding-left: 35px;
    padding-right: 46px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    text-align: start;
    background-color: var(--dark-blue);
}

.service-icon {
    margin-bottom: 20px;
    fill: var(--yellow-accent);
}

.service-title {
    margin-bottom: 15px;

    font-family: 'Mulish';
    font-weight: normal;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-transform: capitalize;

    color: var(--yellow-accent);
}

.services-text {
    margin-bottom: 22px;

    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    color: var(--grayish-text);
}

.services-link {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;

    color: var(--white);
}

/* section choose us */
.choose-thumb {
    position: relative;
}

.choose-numbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 80px 120px 80px;

    min-width: 560px;

    background-color: rgba(28, 39, 82, 0.86);
}

.choose-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border: solid 1px var(--white);
}

.choose-item:not(:last-child) {
    margin-bottom: 25px;
}

.item-number {
    padding-left: 21px;
    padding-right: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: var(--yellow-accent);

    width: 150px;

    background-color: var(--yellow-accent);
}

.choose-info {
    padding-top: 93px;
    padding-bottom: 108px;
    padding-left: 70px;
    padding-right: 73px;

    max-width: 720px;
}